body{
  font-family:monospace;
  text-align:center;
  font-size:30px;
  background-color:#9e00fe;
}

button{
  text-align: center;
  border-radius: 12px;
  font-family:monospace;
}

.intro{
  text-align:center;
  font-size:20px;
  color:white;
  border:solid #bb00ff;
  background-color:#bb00ff;
}
