body{
  background-color:black;
  color:white;
  font-family:monospace;
  }
h1{
  color:white;
  text-align:center;
  font-family:monospace;
}


.login-box{
 text-align:center;
 font-family:monospace;
 color:white;
}

button{
  text-align: center;
  border-radius: 12px;
  font-family:monospace;
}

input{
  text-align:center;
  font-family:monospace;
  border-radius:12px;
}

p{
  text-align:center;
  font-family:monospace;
  border-radius:12px;
}

