<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CELNEX</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
  <p>WELCOME TO CELNEXX!</p>
  <div class="intro">
    <p>
      Across shattered dimensions and fading timelines, ancient forces stir once more. 
      Celnex, champions from forgotten worlds are drawn into a cosmic battlefield where survival is not enough — 
      only dominance will decide who shapes what comes next. 
      Wield unique powers, uncover lost histories, and face beings born of myth, machine, and madness. 
      As the lines between hero and monster blur, one truth remains: only the strongest will shape the fate of the realms.
    </p>
    <button onclick="window.location.href='{{ url_for('login_page') }}'">START</button>
  </div>
</body>
</html>

